!!!
%html
  %head
    %title Bucket => Slack
    %meta{:charset => :"utf-8"}
    %meta{:name => :author, :content => "Ikhsan Assaat"}
    %meta{:name => :description, :content => :"integrate bitbucket's pr hook to slack"}
    %meta{:name => :viewport, :content => :"width=device-width, initial-scale=1"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/normalize.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/style.css"}
  %body
    = text
